.fotos-tienda {
    width: 400px;
    height: 420px;
    padding: 30px;

}

.filas-tienda {
    margin-bottom: 150px;
}

h3 {
    text-align: center;
}

.boton-tienda {
    position: absolute;
    top: 200px;
    color: #f1f1f1;
    width: 100%;
}

.containers {
    position: relative;

    .btn-primary {
        background: rgba(255, 255, 255, 0.5);
        border-color: map-get($map: $colores, $key: color-usos);
        width: 50%;
    }

    .modal-content {
        background-color: aliceblue;
    }
}

.propaganda {
    position: relative;
    .foto-propa {
        width: 1400px;
        height: 950px;
    }

    .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        width: 1400px;
    

        p {
            color: #f1f1f1;
            font-size: 30px;
            font-family: roboto;
        }
    }
}

.tienda {
    background: url(../assets/img/fondo-blanco.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

h7 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: map-get($map: $colores, $key: color-usos);
    font-weight: bold;
}


@media screen and (max-width: 1550px) {
    
    
    .propaganda{
        .foto-propa {
            width: 1200px;
            height: 700px;
        }
        .content{
            width:1200px;
        }
    }
}

@media screen and (max-width: 1200px) {
    
    .propaganda{
        .foto-propa {
            width: 1000px;
            height: 650px;
        }
        .content{
            width:1000px;
        }
    }
}
@media screen and (max-width: 1080px) {
    
    .propaganda{
        .foto-propa {
            width: 800px;
            height: 500px;
        }
        .content{
            width:800px;
            p {
                color: #f1f1f1;
                font-size: 25px;
                font-family: roboto;
            }
        }    
    }
}
@media screen and (max-width: 860px) {
    
    .propaganda{
        .foto-propa {
            width: 600px;
            height: 370px;
        }
        .content{
            width:600px;
            p {
                color: #f1f1f1;
                font-size: 20px;
                font-family: roboto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .fotos-tienda {
        width: 300px;
        height: 320px;
    }

}
@media screen and (max-width: 630px) {
    
    .propaganda{
        .foto-propa {
            width: 400px;
            height: 250px;
        }
        .content{
            width:400px;
        }
    }
}